nav {
    z-index: 1;
}


#loginback  {
    background: url("../images/map.jpg")
}

#profileback,
#chatback  {
    background-color: #fffde7
}

#basic-info  {
    /* display: flex; */
    /* flex-wrap: wrap; */
    left: 0;
    top: 7.5%;
    bottom: 0;
    background-color: #c5e1a5;
    min-height: 92vh;
    /* z-index: 2; */
    padding-top: 20px;
}

#message    {
    position: absolute;
    width: 65%;
    /* padding: 20px; */
    left: 0;
    bottom: 0;
    text-align: right;
    margin-left: 15%;
}

#chatUser   {
    position: fixed;
    /* margin-top: 50%; */
    left: 55%;
    bottom: 0;

}