nav {
    z-index: 1;
}

p {
    font-size: 18px;
}

#chatback, #profileback, #loginback {
    font-family: 'Handlee', cursive;
}


#loginback  {
    background: url("../images/map.jpg")
}

#profileback,
#chatback  {
    background-color: #fffde7
}

#basic-info  {
    /* display: flex; */
    /* flex-wrap: wrap; */
    left: 0;
    top: 7.5%;
    bottom: 0;
    background-color: #c5e1a5;
    min-height: 92vh;
    /* z-index: 2; */
    padding-top: 20px;
}

#message    {
    position: relative;
    width: 65%;
    /* padding: 20px; */
    left: 0;
    bottom: 0;
    text-align: right;
    margin-left: 15%;
    margin-top: 60px;
}

#chatUser   {
    position: fixed;
    /* margin-top: 50%; */
    left: 55%;
    bottom: 0;

}

.letter-box {
    position: relative;
    width: 45%;
    margin: 0 auto;
    margin-top: 20px;
}

.heading {
    margin: 40px 0;
}

.username-letter {
    position: absolute;
    right: 10px;
    bottom: 0;
}

#match-text {
    position: relative;
    left: 20px;
    margin-top: 60px;
}

.card-content {
    padding-top: 5px;
}